[Desktop Entry]
Version=1.0
Name=Aix Core
Comment=Connect to the Aix P2P Network
Comment[de]=Verbinde mit dem Aix peer-to-peer Netzwerk
Comment[fr]=Aix, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Aix, eşten eşe kriptografik sanal para birimi
Exec=aix-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/aix128.png
MimeType=x-scheme-handler/aix;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Aix-qt
